body {
    font-family: Arial, sans-serif;
    background-color: #a9a9a9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #a9fcb7;
    text-align: center;
    padding: 10px 0;
    font-size: 32px;
    font-weight: bold;
}

.player, .options, .previous-song, .song-list {
    margin: 20px 0;
    padding: 10px;
    background-color: #FFE4B5;
}

.player h2, .options h2, .previous-song h2, .song-list h2 {
    margin-bottom: 10px;
    font-size: 19px;
}

button {
    margin-left: 10px;
}

.options label {
    display: block;
    margin: 5px 0;
}


.navbar {
    background-color: #343a40;
    margin-top: 0px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand, .nav-link {
    color: #ffffff;
    margin: 0;
}

.nav-link:hover {
    color: #ffc107;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #ffc107;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
.media-controls {
    margin-top: 20px;
    text-align: center;
}

.media-controls button {
    margin: 5px;
}
.deteleButon {
    background-color: #dc3545; 
    color: white;
}
.afegirCanso_contingut {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registrarCansoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}